extends layout
block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='taskName') Task Name:
      input#taskName.form-control(type='text', placeholder='Task Name' name='taskName' required='true' value=(undefined===task ? '' : task.taskName) )
      label(for='workEffort') Work Effort (in Minutes):
      input#workEffort.form-control(type='text', placeholder='Work Effort' name='workEffort' required='true' value=(undefined===task ? '' : task.workEffort))
      label(for='deadline') Deadline:
      input#deadline.form-control(type='text', placeholder='Deadline' name='deadline' required='false' value=(undefined===task ? '' : task.deadline))
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg