doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block navBar
      button(onclick="window.location.href='/'") Index
      button(onclick="window.location.href='/tasks'") TaskList
      button(onclick="window.location.href='/task/create'") Create New Task
      
      
    block content
    block footer
      include footer
      